<h1>Author Details</h1>

<strong>Name:</strong> <%= @author.author_name %> <br>

<h2>Books</h2>
<ul>
  <% @books.each do |book| %>
    <li>
      <strong>Title:</strong> <%= link_to book.title, book_path(book) %> <br>
      <strong>Description:</strong> <%= book.description %> <br>
      <strong>Language:</strong> <%= book.language %> <br>
    </li>
  <% end %>
</ul>
